@tailwind base;
@tailwind components;
@tailwind utilities;

#flashMessage {
  animation-name: yellowfade;
  animation-duration: 3s;
}

#layout {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /* font-family: Ubuntu,sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 60px;
}

nav {
  /* font-family: Ubuntu,sans-serif; */
  /* padding: 30px; */
}

nav li {
  font-weight: bold;
  /* font-family: Ubuntu,sans-serif; */
  text-transform: uppercase;
}

nav a:hover {
  /* color: #3b82f6; */
  color: #ed2429;
}

h2 {
  font-size: 20px;
}

nav a.router-link-exact-active {
  /* color: #3b82f6; */
  color: #ed2429;
}

img.home-background-img {
  display: block;
  width: 100%;
}
